= render "/shared/top"
%p
  %b= icon_link "add", t("buttons.new", :scope => resource_class.model_name.singular), nil, :onclick => "UI.Sections.form('0', '#{url_for(:action => :new)}');"
#sections-list
  = render "table"
:javascript
  UI.Sections.url_list =  "#{url_for(:controller => 'sections', :action => :index)}";
  UI.Sections.url_destroy_selected = "#{url_for(:controller => 'sections', :action => :destroy_selected)}";
