!!!
%html
  %head
    %title ForumUa
    = stylesheet_link_tag    "application", :media => "all", :debug => debug_assets?
    = javascript_include_tag "application", :debug => debug_assets?
    = csrf_meta_tags
    = render "shared/head_scripts"
    = yield(:head_scripts)
  %body
    #wrap
      #cont
        #header
          .fl
            = render "shared/menu", :css_class => "menu-h-d"
          .fr
            \ 
          .cc
        %div{"data-pjax-container" => "true"}
          = yield
